<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <title>Web Camera Dashboard</title>
  </head>
  <body>
    <h1>Live Camera Feed</h1>
    <div class="video-container">
      <img src="{{ url_for('main.video_feed') }}" />
    </div>
  </body>
</html>
